---
import Background from "../layouts/Background.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Create Group">
  <Background>
    <main>
      <h1>Create</h1>
    </main>
  </Background>
</Layout>
