---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <a
    href="/create"
    class="flex w-36 h-36 bg-pink-400 rounded-3xl justify-center items-center text-white shadow-lg"
  >
    Create Group
  </a>
  <a
    href="/join"
    class="flex w-36 h-36 bg-blue-400 rounded-3xl justify-center items-center text-white shadow-lg"
    >Join Group</a
  >
</Layout>
