<nav
  class="relative flex justify-center items-center h-20 border-b border-pink-400 rounded-b-lg overflow-hidden shadow-lg"
>
  <div class="absolute blur-effect h-full w-full bg-white opacity-60"></div>
  <span class="font-bold text-3xl tracking-widest text-blue-400 z-[1]"
    >Buzzer</span
  >
</nav>
